<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.AccountInformationMapper">
  <resultMap id="BaseResultMap" type="com.zl.domain.AccountInformation">
    <id column="ACCOUNT_ID" jdbcType="NUMERIC" property="accountId" />
    <result column="CURRENCY" jdbcType="VARCHAR" property="currency" />
    <result column="CREDIT_TOTAL" jdbcType="NUMERIC" property="creditTotal" />
    <result column="CREDITABLE" jdbcType="NUMERIC" property="creditable" />
    <result column="CASH_AVAILABILITY" jdbcType="NUMERIC" property="cashAvailability" />
    <result column="BILL_ID" jdbcType="NUMERIC" property="billId" />
    <result column="NOWACCOUNTDATE" jdbcType="NUMERIC" property="nowaccountdate" />
    <result column="CARD_ID" jdbcType="VARCHAR" property="cardId" />
    <result column="PAYMENT_TYPE" jdbcType="NUMERIC" property="paymentType" />
    <result column="ID_NUMBER" jdbcType="VARCHAR" property="idNumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ACCOUNT_ID, CURRENCY, CREDIT_TOTAL, CREDITABLE, CASH_AVAILABILITY, BILL_ID, NOWACCOUNTDATE, 
    CARD_ID, PAYMENT_TYPE, ID_NUMBER
  </sql>
  <select id="selectByExample" parameterType="com.zl.domain.AccountInformationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ACCOUNT_INFORMATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ACCOUNT_INFORMATION
    where ACCOUNT_ID = #{accountId,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ACCOUNT_INFORMATION
    where ACCOUNT_ID = #{accountId,jdbcType=NUMERIC}
  </delete>
  <delete id="deleteByExample" parameterType="com.zl.domain.AccountInformationExample">
    delete from ACCOUNT_INFORMATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zl.domain.AccountInformation">
    insert into ACCOUNT_INFORMATION (ACCOUNT_ID, CURRENCY, CREDIT_TOTAL, 
      CREDITABLE, CASH_AVAILABILITY, BILL_ID, 
      NOWACCOUNTDATE, CARD_ID, PAYMENT_TYPE, 
      ID_NUMBER)
    values (#{accountId,jdbcType=NUMERIC}, #{currency,jdbcType=VARCHAR}, #{creditTotal,jdbcType=NUMERIC}, 
      #{creditable,jdbcType=NUMERIC}, #{cashAvailability,jdbcType=NUMERIC}, #{billId,jdbcType=NUMERIC}, 
      #{nowaccountdate,jdbcType=NUMERIC}, #{cardId,jdbcType=VARCHAR}, #{paymentType,jdbcType=NUMERIC}, 
      #{idNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zl.domain.AccountInformation">
    insert into ACCOUNT_INFORMATION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="currency != null">
        CURRENCY,
      </if>
      <if test="creditTotal != null">
        CREDIT_TOTAL,
      </if>
      <if test="creditable != null">
        CREDITABLE,
      </if>
      <if test="cashAvailability != null">
        CASH_AVAILABILITY,
      </if>
      <if test="billId != null">
        BILL_ID,
      </if>
      <if test="nowaccountdate != null">
        NOWACCOUNTDATE,
      </if>
      <if test="cardId != null">
        CARD_ID,
      </if>
      <if test="paymentType != null">
        PAYMENT_TYPE,
      </if>
      <if test="idNumber != null">
        ID_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        #{accountId,jdbcType=NUMERIC},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="creditTotal != null">
        #{creditTotal,jdbcType=NUMERIC},
      </if>
      <if test="creditable != null">
        #{creditable,jdbcType=NUMERIC},
      </if>
      <if test="cashAvailability != null">
        #{cashAvailability,jdbcType=NUMERIC},
      </if>
      <if test="billId != null">
        #{billId,jdbcType=NUMERIC},
      </if>
      <if test="nowaccountdate != null">
        #{nowaccountdate,jdbcType=NUMERIC},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null">
        #{paymentType,jdbcType=NUMERIC},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zl.domain.AccountInformationExample" resultType="java.lang.Long">
    select count(*) from ACCOUNT_INFORMATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ACCOUNT_INFORMATION
    <set>
      <if test="record.accountId != null">
        ACCOUNT_ID = #{record.accountId,jdbcType=NUMERIC},
      </if>
      <if test="record.currency != null">
        CURRENCY = #{record.currency,jdbcType=VARCHAR},
      </if>
      <if test="record.creditTotal != null">
        CREDIT_TOTAL = #{record.creditTotal,jdbcType=NUMERIC},
      </if>
      <if test="record.creditable != null">
        CREDITABLE = #{record.creditable,jdbcType=NUMERIC},
      </if>
      <if test="record.cashAvailability != null">
        CASH_AVAILABILITY = #{record.cashAvailability,jdbcType=NUMERIC},
      </if>
      <if test="record.billId != null">
        BILL_ID = #{record.billId,jdbcType=NUMERIC},
      </if>
      <if test="record.nowaccountdate != null">
        NOWACCOUNTDATE = #{record.nowaccountdate,jdbcType=NUMERIC},
      </if>
      <if test="record.cardId != null">
        CARD_ID = #{record.cardId,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentType != null">
        PAYMENT_TYPE = #{record.paymentType,jdbcType=NUMERIC},
      </if>
      <if test="record.idNumber != null">
        ID_NUMBER = #{record.idNumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ACCOUNT_INFORMATION
    set ACCOUNT_ID = #{record.accountId,jdbcType=NUMERIC},
      CURRENCY = #{record.currency,jdbcType=VARCHAR},
      CREDIT_TOTAL = #{record.creditTotal,jdbcType=NUMERIC},
      CREDITABLE = #{record.creditable,jdbcType=NUMERIC},
      CASH_AVAILABILITY = #{record.cashAvailability,jdbcType=NUMERIC},
      BILL_ID = #{record.billId,jdbcType=NUMERIC},
      NOWACCOUNTDATE = #{record.nowaccountdate,jdbcType=NUMERIC},
      CARD_ID = #{record.cardId,jdbcType=VARCHAR},
      PAYMENT_TYPE = #{record.paymentType,jdbcType=NUMERIC},
      ID_NUMBER = #{record.idNumber,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zl.domain.AccountInformation">
    update ACCOUNT_INFORMATION
    <set>
      <if test="currency != null">
        CURRENCY = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="creditTotal != null">
        CREDIT_TOTAL = #{creditTotal,jdbcType=NUMERIC},
      </if>
      <if test="creditable != null">
        CREDITABLE = #{creditable,jdbcType=NUMERIC},
      </if>
      <if test="cashAvailability != null">
        CASH_AVAILABILITY = #{cashAvailability,jdbcType=NUMERIC},
      </if>
      <if test="billId != null">
        BILL_ID = #{billId,jdbcType=NUMERIC},
      </if>
      <if test="nowaccountdate != null">
        NOWACCOUNTDATE = #{nowaccountdate,jdbcType=NUMERIC},
      </if>
      <if test="cardId != null">
        CARD_ID = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null">
        PAYMENT_TYPE = #{paymentType,jdbcType=NUMERIC},
      </if>
      <if test="idNumber != null">
        ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where ACCOUNT_ID = #{accountId,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zl.domain.AccountInformation">
    update ACCOUNT_INFORMATION
    set CURRENCY = #{currency,jdbcType=VARCHAR},
      CREDIT_TOTAL = #{creditTotal,jdbcType=NUMERIC},
      CREDITABLE = #{creditable,jdbcType=NUMERIC},
      CASH_AVAILABILITY = #{cashAvailability,jdbcType=NUMERIC},
      BILL_ID = #{billId,jdbcType=NUMERIC},
      NOWACCOUNTDATE = #{nowaccountdate,jdbcType=NUMERIC},
      CARD_ID = #{cardId,jdbcType=VARCHAR},
      PAYMENT_TYPE = #{paymentType,jdbcType=NUMERIC},
      ID_NUMBER = #{idNumber,jdbcType=VARCHAR}
    where ACCOUNT_ID = #{accountId,jdbcType=NUMERIC}
  </update>
</mapper>