<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.LogoutRecordMapper">
  <resultMap id="BaseResultMap" type="com.zl.domain.LogoutRecord">
    <id column="LOGOUT_ID" jdbcType="DECIMAL" property="logoutId" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="CARD_NUMBER" jdbcType="VARCHAR" property="cardNumber" />
    <result column="LOGOUT_DATE" jdbcType="TIMESTAMP" property="logoutDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    LOGOUT_ID, USER_ID, CARD_NUMBER, LOGOUT_DATE, REMARK
  </sql>
  <select id="selectByExample" parameterType="com.zl.domain.LogoutRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LOGOUT_RECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LOGOUT_RECORD
    where LOGOUT_ID = #{logoutId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from LOGOUT_RECORD
    where LOGOUT_ID = #{logoutId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.zl.domain.LogoutRecordExample">
    delete from LOGOUT_RECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zl.domain.LogoutRecord">
    insert into LOGOUT_RECORD (LOGOUT_ID, USER_ID, CARD_NUMBER, 
      LOGOUT_DATE, REMARK)
    values (#{logoutId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{cardNumber,jdbcType=VARCHAR}, 
      #{logoutDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zl.domain.LogoutRecord">
    insert into LOGOUT_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logoutId != null">
        LOGOUT_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="cardNumber != null">
        CARD_NUMBER,
      </if>
      <if test="logoutDate != null">
        LOGOUT_DATE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logoutId != null">
        #{logoutId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="cardNumber != null">
        #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="logoutDate != null">
        #{logoutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zl.domain.LogoutRecordExample" resultType="java.lang.Long">
    select count(*) from LOGOUT_RECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update LOGOUT_RECORD
    <set>
      <if test="record.logoutId != null">
        LOGOUT_ID = #{record.logoutId,jdbcType=DECIMAL},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=DECIMAL},
      </if>
      <if test="record.cardNumber != null">
        CARD_NUMBER = #{record.cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.logoutDate != null">
        LOGOUT_DATE = #{record.logoutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update LOGOUT_RECORD
    set LOGOUT_ID = #{record.logoutId,jdbcType=DECIMAL},
      USER_ID = #{record.userId,jdbcType=DECIMAL},
      CARD_NUMBER = #{record.cardNumber,jdbcType=VARCHAR},
      LOGOUT_DATE = #{record.logoutDate,jdbcType=TIMESTAMP},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zl.domain.LogoutRecord">
    update LOGOUT_RECORD
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="cardNumber != null">
        CARD_NUMBER = #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="logoutDate != null">
        LOGOUT_DATE = #{logoutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where LOGOUT_ID = #{logoutId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zl.domain.LogoutRecord">
    update LOGOUT_RECORD
    set USER_ID = #{userId,jdbcType=DECIMAL},
      CARD_NUMBER = #{cardNumber,jdbcType=VARCHAR},
      LOGOUT_DATE = #{logoutDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where LOGOUT_ID = #{logoutId,jdbcType=DECIMAL}
  </update>
</mapper>