<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.stagingMapper">
  <resultMap id="BaseResultMap" type="com.zl.domain.staging">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TOTALMONEY" jdbcType="DECIMAL" property="totalmoney" />
    <result column="TOTALMONTH" jdbcType="DECIMAL" property="totalmonth" />
    <result column="RATE" jdbcType="DECIMAL" property="rate" />
    <result column="MONTHSEND" jdbcType="DECIMAL" property="monthsend" />
    <result column="ENDSEND_MONTHNUM" jdbcType="DECIMAL" property="endsendMonthnum" />
    <result column="REMINDNUM" jdbcType="DECIMAL" property="remindnum" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="IF_DELETE" jdbcType="DECIMAL" property="ifDelete" />
    <result column="CRED_ID" jdbcType="DECIMAL" property="credId" />
    <result column="SURPLUSMONEY" jdbcType="DECIMAL" property="surplusmoney" />
    <result column="SURPLUSMONTH" jdbcType="DECIMAL" property="surplusmonth" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, TOTALMONEY, TOTALMONTH, RATE, MONTHSEND, ENDSEND_MONTHNUM, REMINDNUM, CREATETIME, 
    UPDATETIME, IF_DELETE, CRED_ID, SURPLUSMONEY, SURPLUSMONTH
  </sql>
  <select id="selectByExample" parameterType="com.zl.domain.stagingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from STAGING
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from STAGING
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from STAGING
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.zl.domain.stagingExample">
    delete from STAGING
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zl.domain.staging">
    insert into STAGING (ID, TOTALMONEY, TOTALMONTH, 
      RATE, MONTHSEND, ENDSEND_MONTHNUM, 
      REMINDNUM, CREATETIME, UPDATETIME, 
      IF_DELETE, CRED_ID, SURPLUSMONEY, 
      SURPLUSMONTH)
    values (#{id,jdbcType=DECIMAL}, #{totalmoney,jdbcType=DECIMAL}, #{totalmonth,jdbcType=DECIMAL}, 
      #{rate,jdbcType=DECIMAL}, #{monthsend,jdbcType=DECIMAL}, #{endsendMonthnum,jdbcType=DECIMAL}, 
      #{remindnum,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{ifDelete,jdbcType=DECIMAL}, #{credId,jdbcType=DECIMAL}, #{surplusmoney,jdbcType=DECIMAL}, 
      #{surplusmonth,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zl.domain.staging">
    insert into STAGING
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="totalmoney != null">
        TOTALMONEY,
      </if>
      <if test="totalmonth != null">
        TOTALMONTH,
      </if>
      <if test="rate != null">
        RATE,
      </if>
      <if test="monthsend != null">
        MONTHSEND,
      </if>
      <if test="endsendMonthnum != null">
        ENDSEND_MONTHNUM,
      </if>
      <if test="remindnum != null">
        REMINDNUM,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="ifDelete != null">
        IF_DELETE,
      </if>
      <if test="credId != null">
        CRED_ID,
      </if>
      <if test="surplusmoney != null">
        SURPLUSMONEY,
      </if>
      <if test="surplusmonth != null">
        SURPLUSMONTH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="totalmoney != null">
        #{totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="totalmonth != null">
        #{totalmonth,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="monthsend != null">
        #{monthsend,jdbcType=DECIMAL},
      </if>
      <if test="endsendMonthnum != null">
        #{endsendMonthnum,jdbcType=DECIMAL},
      </if>
      <if test="remindnum != null">
        #{remindnum,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ifDelete != null">
        #{ifDelete,jdbcType=DECIMAL},
      </if>
      <if test="credId != null">
        #{credId,jdbcType=DECIMAL},
      </if>
      <if test="surplusmoney != null">
        #{surplusmoney,jdbcType=DECIMAL},
      </if>
      <if test="surplusmonth != null">
        #{surplusmonth,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zl.domain.stagingExample" resultType="java.lang.Long">
    select count(*) from STAGING
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update STAGING
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.totalmoney != null">
        TOTALMONEY = #{record.totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.totalmonth != null">
        TOTALMONTH = #{record.totalmonth,jdbcType=DECIMAL},
      </if>
      <if test="record.rate != null">
        RATE = #{record.rate,jdbcType=DECIMAL},
      </if>
      <if test="record.monthsend != null">
        MONTHSEND = #{record.monthsend,jdbcType=DECIMAL},
      </if>
      <if test="record.endsendMonthnum != null">
        ENDSEND_MONTHNUM = #{record.endsendMonthnum,jdbcType=DECIMAL},
      </if>
      <if test="record.remindnum != null">
        REMINDNUM = #{record.remindnum,jdbcType=DECIMAL},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null">
        UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ifDelete != null">
        IF_DELETE = #{record.ifDelete,jdbcType=DECIMAL},
      </if>
      <if test="record.credId != null">
        CRED_ID = #{record.credId,jdbcType=DECIMAL},
      </if>
      <if test="record.surplusmoney != null">
        SURPLUSMONEY = #{record.surplusmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.surplusmonth != null">
        SURPLUSMONTH = #{record.surplusmonth,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update STAGING
    set ID = #{record.id,jdbcType=DECIMAL},
      TOTALMONEY = #{record.totalmoney,jdbcType=DECIMAL},
      TOTALMONTH = #{record.totalmonth,jdbcType=DECIMAL},
      RATE = #{record.rate,jdbcType=DECIMAL},
      MONTHSEND = #{record.monthsend,jdbcType=DECIMAL},
      ENDSEND_MONTHNUM = #{record.endsendMonthnum,jdbcType=DECIMAL},
      REMINDNUM = #{record.remindnum,jdbcType=DECIMAL},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      IF_DELETE = #{record.ifDelete,jdbcType=DECIMAL},
      CRED_ID = #{record.credId,jdbcType=DECIMAL},
      SURPLUSMONEY = #{record.surplusmoney,jdbcType=DECIMAL},
      SURPLUSMONTH = #{record.surplusmonth,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zl.domain.staging">
    update STAGING
    <set>
      <if test="totalmoney != null">
        TOTALMONEY = #{totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="totalmonth != null">
        TOTALMONTH = #{totalmonth,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        RATE = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="monthsend != null">
        MONTHSEND = #{monthsend,jdbcType=DECIMAL},
      </if>
      <if test="endsendMonthnum != null">
        ENDSEND_MONTHNUM = #{endsendMonthnum,jdbcType=DECIMAL},
      </if>
      <if test="remindnum != null">
        REMINDNUM = #{remindnum,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ifDelete != null">
        IF_DELETE = #{ifDelete,jdbcType=DECIMAL},
      </if>
      <if test="credId != null">
        CRED_ID = #{credId,jdbcType=DECIMAL},
      </if>
      <if test="surplusmoney != null">
        SURPLUSMONEY = #{surplusmoney,jdbcType=DECIMAL},
      </if>
      <if test="surplusmonth != null">
        SURPLUSMONTH = #{surplusmonth,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zl.domain.staging">
    update STAGING
    set TOTALMONEY = #{totalmoney,jdbcType=DECIMAL},
      TOTALMONTH = #{totalmonth,jdbcType=DECIMAL},
      RATE = #{rate,jdbcType=DECIMAL},
      MONTHSEND = #{monthsend,jdbcType=DECIMAL},
      ENDSEND_MONTHNUM = #{endsendMonthnum,jdbcType=DECIMAL},
      REMINDNUM = #{remindnum,jdbcType=DECIMAL},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      IF_DELETE = #{ifDelete,jdbcType=DECIMAL},
      CRED_ID = #{credId,jdbcType=DECIMAL},
      SURPLUSMONEY = #{surplusmoney,jdbcType=DECIMAL},
      SURPLUSMONTH = #{surplusmonth,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>